:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.day-header,
.month-days {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  gap: 2px;
  text-align: center;
}

.day-header {
  background-color: rgb(21, 134, 96);
  margin: 2px;
  font-size: x-large;
}

.year-board {
  display: flex;
  justify-content: space-around;
  height: 200px;
}

.calender {
  display: flex;
  flex-direction: column;
}

.arrow-btn {
  background-color: transparent;
  align-self: center;
  border: none;
  border-top: 31px solid transparent;
  border-bottom: 31px solid transparent;
  cursor: pointer;
}

.arrow-btn.right {
  border-right: 32px solid white;
}

.arrow-btn.left {
  border-left: 32px solid white;
}

.today {
  border: none;
  background-color: white;
  color: black;
}

@media (max-width: 700px) {
  .month.prev,
  .month.next {
    display: none;
  }
}

@media (max-width: 500px) {
  .arrow-btn.right {
    background-color: transparent;
    align-self: center;
    border: none;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    cursor: pointer;
    border-right: 17px solid white;
    margin-right: 5px;
  }

  .arrow-btn.left {
    background-color: transparent;
    align-self: center;
    border: none;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    cursor: pointer;
    border-left: 17px solid white;
    margin-left: 5px;
  }
}

.drawer_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.habitlist {
  flex: 3;
}

.summary {
  flex: 1;
}

/*Habit List*/
/* .habit_list_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  flex-wrap: wrap;
  overflow-wrap: anywhere;
  width: 100%;
} */

.habit_list_container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, minmax(40px, auto));
  grid-auto-columns: minmax(120px, 1fr);
  gap: 8px;
  height: 100%;
  width: 100%;
}

.habit {
  border-radius: 5px;
  padding: 0.5% 1%;
  margin: 0.25% 1%;
  display: flex;
  align-items: flex-start;
  background-color: rgb(11, 124, 86);
}
.habit:hover {
  background-color: rgb(11, 100, 80);
  box-shadow: 8px 8px 8px teal;
}

.habit_text {
  flex: 1;
  text-align: start;
  font-size: medium;
}

.check_icon {
  margin-left: auto;
  cursor: pointer;
}

.submit_btn {
  width: fit-content;
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgb(11, 124, 100);
  padding: 0.5% 1%;
  cursor: pointer;
}

/*Loader*/
.loader_container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.circle_loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_circle {
  width: 170px;
  height: 170px;
  background: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: bold;
}
