:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.day-header,
.month-days {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  gap: 2px;
  text-align: center;
}

.day-header {
  background-color: rgb(21, 134, 96);
  margin: 2px;
  font-size: x-large;
}

.year-board {
  display: flex;
  justify-content: space-around;
  height: 200px;
}

.calender {
  display: flex;
  flex-direction: column;
}

.arrow-btn {
  background-color: transparent;
  align-self: center;
  border: none;
  border-top: 31px solid transparent;
  border-bottom: 31px solid transparent;
  cursor: pointer;
}

.arrow-btn.right {
  border-right: 32px solid white;
}

.arrow-btn.left {
  border-left: 32px solid white;
}

.today {
  border: none;
  background-color: white;
  color: black;
}

@media (max-width: 700px) {
  .month.prev,
  .month.next {
    display: none;
  }
}

@media (max-width: 500px) {
  .arrow-btn.right {
    background-color: transparent;
    align-self: center;
    border: none;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    cursor: pointer;
    border-right: 17px solid white;
    margin-right: 5px;
  }

  .arrow-btn.left {
    background-color: transparent;
    align-self: center;
    border: none;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    cursor: pointer;
    border-left: 17px solid white;
    margin-left: 5px;
  }
}
