:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.day-header,
.month-days {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  gap: 2px;
  text-align: center;
}

.day-header {
  background-color: rgb(21, 134, 96);
  margin: 2px;
  font-size: x-large;
}

.year-board {
  display: flex;
  justify-content: space-around;
}

.calender {
  display: flex;
  flex-direction: column;
}
